body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 22px;
}

header, section, footer, .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  min-height: 500px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: #ffc022;
}

header > nav {
  align-self: flex-start;
  height: 125px;
  padding: 20px 30px;
}

nav img {
  height: 100%;
}

h2 {
  padding: 16px 0;
  font-size: 40px;
  font-weight: 900;
}

article {
  max-width: 1120px;
  padding: 30px 60px;
  text-align: center;
}

article p {
  line-height: 32px;
}

small {
  font-size: 16px;
}

.hidden {
  display: none;
}

/* === Hamburger === */
#hamburger {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  width: 90px;
  border-bottom-left-radius: 98%;
  background: #ed663e;
}

#hamburger:hover {
  background: #F96D44;
}

#hamburger.expand {
  background: #ed663e;
  animation-duration: 0.6s;
  animation-name: expand;
}

@keyframes expand {
  from {}

  to {
    height: 200vw;
    width: 200vw;
  }
}

#hamburger img {
  position: relative;
  left: 6px;
  bottom: 6px;
  height: 50%;
}

#splash {
  align-self: center;
  width: 75%;
  max-width: 1200px;
}

#scroll {
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
}

#scroll .line {
  height: 75px;
  width: 1px;
  margin: 10px auto 30px auto;
  background: #ffffff;
}

/* === Intro section === */
.intro {
  display: flex;
  padding: 80px 0 100px 0;
  background: #dfe8f5;
  color: #435169;
}

.intro img {
  display: block;
  width: 370px;
}

button.action {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
  display: block;
  background: #d85030;
  padding: 20px 32px;
  color: #ffffff;
  border-radius: 50px;
}

button.action:hover {
  background: #ed663e;
}

/* === App overview section === */
.app-overview {
  padding: 140px 0;
  background: #435169;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1200px;
}

.container > img {
  display: block;
}

#app-window {
  margin: 0 auto;
  width: 80%;
  border-radius: 16px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, .5);
}

#labels {
  width: 100%;
  top: -15%;
  position: absolute;
}

#labels-small {
  display: none;
}

/* === Footer === */
footer {
  padding: 36px;
  flex-direction: row;
  justify-content: space-between;
  background: #b9c1cb;
}

.title {
  image-rendering: crisp-edges;
  max-width: 210px;
}

nav.team {
  color: #435169;
  display: flex;
}

.team h3 {
  font-weight: 700;  
  text-transform: uppercase;
}

.team span {
  font-weight: 700;
  padding: 0 6px;
  color: #dfe8f5;
}

.team a {
  font-family: Roboto Mono, monospace;
  font-size: 18px;
  margin: 0 20px;
}

.team a:hover {
  border-bottom: 2px solid #435169;
}

.designer-link {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.designer-link i:hover {
  border-bottom: 0.5px solid #dfe8f5;
}

/* === Pop-up Menu === */

.menu {
  z-index: 1;
  position: fixed;
  justify-content: space-around;
  background: #ed663e;
  height: 100vh;
  width: 100vw;
}

#x {
  z-index: 2;
  position: fixed;
  top: 22px;
  right: 22px;
}

#x img {
  width: 35px;
}

.menu ul {
  width: 75%;
}

.menu li {
  padding: 8px 0;
  text-align: right;
}

.menu a {
  font-weight: 900;
  font-size: 120px;
  text-transform: uppercase;
  color: #ffffff;
}

.menu a:hover {
  color: #ffc022;
}

/* === Media Queries === */
@media screen and (max-width: 1200px) {
  footer {
    padding: 20px 40px;
    flex-direction: column;
    align-items: flex-start;
  }

  footer > * {
    padding: 12px 0;
  }

  .menu a {
    font-size: 80px;
  }
}

@media screen and (max-width: 480px) {
  header > nav {
    height: 100px;
    padding: 15px;
  }

  .intro img {
    width: 50%;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 20px;
  }

  article {
    padding: 30px 25px;
    text-align: justify;
  }

  footer {
    padding: 25px;
  }

  nav.team {
    flex-direction: column;
  }

  .team a {
    margin: 5px 0;
    border-bottom: 2px dashed #b9c1cb;
  }

  .title {
    width: 160px;
  }

  small {
    font-size: 14px;
  }

  #hamburger {
    height: 85px;
    width: 85px;
  }

  #hamburger.expand {
    animation-duration: 0.4s;
  }

  .menu {
    padding: 0;
  }

  .menu ul {
    width: 95%;
  }

  .menu li {
    text-align: center;
    padding: 8px 0;
  }

  .menu a {
    font-size: 55px;
  }

  #splash {
    display: none;
  }

  #splash-stacked {
    display: block;
    width: 80%;
  }

  .app-overview .container {
    width: 100%;
  }

  #app-window {
    width: 95%;
    border-radius: 5px;
  }

  #labels {
    display: none;
  }

  #labels-small {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}