@import url("main.css");

header {
  min-height: 500px;
  height: 100vh;
  background: #ffc022;  
}
/* === Splash === */

#splash {
  align-self: center;
  width: 75%;
  max-width: 1200px;
}

#scroll {
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
}

#scroll .line {
  height: 75px;
  width: 1px;
  margin: 10px auto 30px auto;
  background: #ffffff;
}

/* === Intro section === */
.intro {
  display: flex;
  padding: 80px 0 100px 0;
  background: #dfe8f5;
  color: #435169;
}

.intro img {
  display: block;
  width: 370px;
}

button.action {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
  display: block;
  background: #d85030;
  padding: 20px 32px;
  color: #ffffff;
  border-radius: 50px;
}

button.action:hover {
  background: #ed663e;
}

/* === App overview section === */
.app-overview {
  padding: 140px 0 100px 0;
  background: #435169;
}

.app-overview .action {
  margin-top: 60px;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1200px;
}

.container > img {
  display: block;
}

#app-window {
  margin: 0 auto;
  width: 80%;
  border-radius: 16px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, .5);
}

#labels {
  width: 100%;
  top: -15%;
  position: absolute;
}

#labels-small {
  display: none;
}

/* === Media Queries === */
@media screen and (max-width: 1200px) {
  .menu a {
    font-size: 80px;
  }
}

@media screen and (max-width: 480px) {
  .intro img {
    width: 60%;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 20px;
  }

  article {
    padding: 30px 25px;
    text-align: left;
  }

  footer {
    padding: 25px;
  }

  nav.team {
    flex-direction: column;
  }

  .team a {
    margin: 5px 0;
    border-bottom: 2px dashed #b9c1cb;
  }

  .title {
    width: 160px;
  }

  small {
    font-size: 14px;
  }

  #splash {
    display: none;
  }

  #splash-stacked {
    display: block;
    width: 80%;
  }

  .app-overview .container {
    width: 100%;
  }

  #app-window {
    width: 95%;
    border-radius: 5px;
  }

  #labels {
    display: none;
  }

  #labels-small {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}