body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 22px;
}

header, section, footer, .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
}

header > nav {
  align-self: flex-start;
  height: 125px;
  padding: 20px 30px;
}

nav img {
  height: 100%;
}

h2 {
  padding: 16px 0;
  font-size: 40px;
  font-weight: 900;
}

article {
  max-width: 1120px;
  padding: 30px 60px;
  text-align: center;
}

article p {
  line-height: 32px;
}

small {
  font-size: 16px;
}

.hidden {
  display: none;
}

/* === Hamburger === */
#hamburger {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  height: 80px;
  width: 80px;
  border-bottom-left-radius: 100%;
  background: #ed663e;
}

#hamburger:hover {
  background: #F96D44;
}

#hamburger.expand {
  background: #ed663e;
  animation-duration: 0.6s;
  animation-name: expand;
}

@keyframes expand {
  from {}

  to {
    height: 200vw;
    width: 200vw;
  }
}

#hamburger img {
  position: relative;
  left: 6px;
  bottom: 6px;
  width: 36px;
}

/* === Pop-up Menu === */

.menu {
  z-index: 1;
  position: fixed;
  justify-content: space-around;
  background: #ed663e;
  height: 100vh;
  width: 100vw;
}

#x {
  z-index: 2;
  position: fixed;
  top: 16px;
  right: 12px;
}

#x img {
  width: 32px;
}

.menu ul {
  width: 75%;
}

.menu li {
  padding: 8px 0;
  text-align: right;
}

.menu a {
  font-weight: 900;
  font-size: 120px;
  text-transform: uppercase;
  color: #ffffff;
}

.menu a:hover {
  color: #ffc022;
}

@media screen and (max-width: 480px) {
  #hamburger {
    height: 70px;
    width: 70px;
  }

  #hamburger.expand {
    animation-duration: 0.4s;
  }

  #x {
    top: 10px;
    right: 8px;
  }

  .menu {
    padding: 0 !important;
  }

  .menu ul {
    width: 95% !important;
  }

  .menu li {
    text-align: center !important;
    padding: 8px 0 !important;
  }

  .menu a {
    font-size: 55px !important;
  }
}