body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 22px;
}

header {
  min-height: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #ffc022;
}

nav {
  align-self: flex-start;
  height: 125px;
  padding: 20px 30px;
}

nav img {
  height: 100%;
}

#hamburger {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  height: 120px;
  width: 120px;
  border-bottom-left-radius: 100%;
  background: #ed663e;
}

#hamburger:hover {
  background: #d85030;
}

#hamburger img {
  position: relative;
  left: 10px;
  bottom: 10px;
  height: 40%;
}

#splash {
  align-self: center;
  width: 75%;
  max-width: 1200px;
}

#scroll {
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
}

#scroll .line {
  height: 75px;
  width: 1px;
  margin: 10px auto 30px auto;
  background: #ffffff;
}

.intro {
  background: #dfe8f5;
  color: #435169;
}

.intro * {
  margin: 0 auto;
}

.intro img {
  display: block;
  padding: 80px 0 0 0;
  width: 370px;
}

h2 {
  padding: 16px 0;
  font-size: 40px;
  font-weight: 900;
}

article {
  max-width: 1200px;
  padding: 30px 100px;
  text-align: center;
}

article p {
  line-height: 32px;
}