---
---
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>SpaceCraft: A Real-Time, Collaborative REPL</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,900" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/team.css" />
</head>

<body>
  {% include menu.html %}

  <header>
    <nav>
      <a href="/">
        <img src="/images/logo.png" />
      </a>
    </nav>

    <div class="page-title">
      <h1>Meet the Team</h1>
      <p>
        Our team of three built SpaceCraft by working together remotely across the United States. We are looking for our next opportunities! Please get in touch if you think we'd be a good fit for your team.
      </p>
    </div>

    <div class="flex-placeholder"></div>
  </header>

  <main>
    <ul class="profiles">
      <li>
        {%
          include profile.html
          photo="images/gooi.jpg"
          name="Ying Chyi Gooi"
          city="Brooklyn, NY"
          email="gooiyingchyi@gmail.com"
          website="https://gooi.tech"
          linkedin="https://www.linkedin.com/in/ying-chyi-gooi-89ba5095/"

          interest="Full-stack development, client-server state synchronization, container-based deployment and DevOps. I am also interested in decentralized and open blockchain systems."

          funfact="I am able to <a href='https://www.youtube.com/watch?v=T-27imipklY&feature=youtu.be&t=84' target='_blank'>solve a Rubik's cube in 30 seconds</a> and I love to play board games."
        %}
      </li>

      <li>
        {% 
          include profile.html
          photo="images/julius.jpg"
          name="Julius Zerwick"
          city="Brooklyn, NY"
          email="jrzerwick@gmail.com"
          website="https://rouxcaesar.github.io/"
          linkedin="https://www.linkedin.com/in/julius-zerwick-842000b2/"

          interest="Full-stack development, DevOps, infrastructure and decentralized systems."

          funfact="In 2013, I cycled from Austin, TX to Anchorage AK to fundraise for cancer research as part of <a href='https://www.texas4000.org'
          >Texas 4000</a>. I also love the outdoors, cooking and board games."
        %}
      </li>

      <li>
        {% 
          include profile.html
          photo="images/nick.jpg"
          name="Nick Johnson"
          city="San Francisco, CA"
          email="njohnson7@pm.me"
          website="/"
          linkedin="https://www.linkedin.com/in/nick-johnson-6565837a/"

          interest="Backend development, Linux, shell scripting, decentralized systems, containerization, security, DevOps, and algorithms."

          funfact="I love to travel, and I have lived in California, Canada and Japan (as an exchange-student)."
        %}
      </li>
    </ul>
  </main>

  <footer>
    {% include footer.html %}
  </footer>

  <script src="javascript/menu.js"></script>
</body>
</html>
