---
---
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Case Study | SpaceCraft: A Real-Time, Collaborative REPL</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,900" rel="stylesheet">  
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/whitepaper.css" />
</head>

<body>
  {% include menu.html %}

  <nav id="toc">
    <ul class="hidden"></ul>
  </nav>

  <header>
    <nav>
      <a href="/">
        <img src="/images/logo.png" />
      </a>
    </nav>

    <div class="page-title">
      <h1>Case Study</h1>
      <p>How we built SpaceCraft, the challenges we encountered, and the solutions that made it possible</p>
    </div>

    <div class="flex-placeholder"></div>
  </header>  

  <main>
    {% capture markdown %}
      {% include_relative markdown/whitepaper.md %}
    {% endcapture %}  
    {{ markdown | markdownify }}
  </main>

  <footer>
    {% include footer.html %}
  </footer>

  <script src="javascript/menu.js"></script>
  <script>
    let titleInView = 0;
    const main = (tagName) => $('main').getElementsByTagName(tagName);
    const create = (tagName) => document.createElement(tagName);
    const yPos = (element) => element.getBoundingClientRect().y;

    const mainLinks = main('a');
    for (i = 0; i < mainLinks.length; i++) { 
      mainLinks[i].target = '_blank';
    }

    const h1s = Array.from(main('h1'));
    const toc = $('#toc ul');
    const firstH1 = h1s[0];

    h1s.forEach((h1, idx) => {
      const li = create('li');
      const a = create('a');
      a.href = '#' + h1.id;

      let title = h1.innerHTML;
      a.innerHTML = title;
      a.dataset.id = idx + 1;
      li.appendChild(a);
      toc.appendChild(li);
    });

    const toggleToc = () => {
      if (yPos(firstH1) > 50) {
        toc.classList.add('hidden');
      } else {
        toc.classList.remove('hidden');
      }
    }
    toggleToc();    

    window.onscroll = () => {
      toggleToc();
      console.log(yPos(h1s[0]));
      // console.log(h1s[0].id, h1s[0].getBoundingClientRect());
      // console.log(h1s[1].id, h1s[1].getBoundingClientRect());
    }
  </script>
</body>
</html>