<section>
  <a class="profile" href="{{ include.website }}" target="_blank">
    <img src="{{ include.photo }}" />
    <h2>{{ include.name }}</h2>
  </a>
  <p><em>Software Engineer</em></p>
  <div class="dash"></div>
  <p>{{ include.city }}</p>

  <div class="social-links">
    <a class="email" href="mailto:{{ include.email }}" title="{{ include.email }}"></a>
    <a class="website" href="{{ include.website }}" target="_blank"></a>
    <a class="linkedin" href="{{ include.linkedin }}" target="_blank"></a>
  </div>
</section>

<div class="triangle"></div>
<article>
  <h3>Area of Interest:</h3>
  <p>{{ include.interest }}</p>

  <h3>Fun Fact:</h3>
  <p>{{ include.funfact }}</p>
</article>