<section>
  <a class="profile" href="/">
    <img src="{{ include.photo }}" />
    <h2>{{ include.name }}</h2>
    <p><em>Software Engineer</em></p>
    <div class="dash"></div>
    <p>{{ include.city }}</p>
  </a>

  <div class="social-links">
    <a class="email" href="mailto:{{ include.email }}" title="{{ include.email }}"></a>
    <a class="website" href="{{ include.website }}"></a>
    <a class="linkedin" href="{{ include.linkedin }}"></a>
  </div>
</section>

<div class="triangle"></div>
<article>
  <h3>Area of Interest:</h3>
  <p>{{ include.interest }}</p>

  <h3>Fun Fact:</h3>
  <p>{{ include.funfact }}</p>
</article>